// 步驟圈圈
.step {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.step-circle {
    position: absolute;
    width: 100%;
    height: 100%;
}

.step-number {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .step {
        width: 48px;
        height: 48px;
    }
}

// 產品卡片
.card-body {
    background-color: var(--bs-gray-50);

    &:hover {
        background-color: var(--bs-secondary-100);
    }
}

.card-photo {
    position: relative;
}

// 左上售價
.selling-price {
    position: absolute;
    left: 0px;
    color: var(--bs-primary);
}

// 卡片上圓勾勾
.card-check {
    position: absolute;
    right: 0px;
    padding: 8px;
    background-color: var(--bs-gray-200);

    &:hover {
        background-color: var(--bs-gray-200);
    }

    &:active {
        background-color: var(--bs-primary);
    }

    &:focus {
        background-color: var(--bs-primary);
    }
}

.check {
    width: 19.96px;
}

@media (min-width: 768px) {
    .check {
        width: 23.29px;
    }
}

// 總計陰影
.product-shadow {
    box-shadow: 0px -2px 24px #0E1E253D;
}